langchain
streamlit
streamlit_feedback
openai
python-dotenv
pypdf
pinecone-client
streamlit-ace
neo4j
google.cloud
google-cloud-aiplatform
graphviz
networkx
pyvis 
matplotlib
path
tiktoken
langchain-community
